<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{subject}}</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #f4f4f4; margin: 0; padding: 0">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td style="padding: 20px 0; text-align: center; background-color: #3498db">
          <img src="https://i.postimg.cc/6qC2BqxR/yamarpikaya.png" alt="E-Wallet Logo" style="max-width: 25%; height: 25%" />
        </td>
      </tr>
      <tr>
        <td style="padding: 40px 30px; background-color: #ffffff">
          <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td style="padding-bottom: 20px; text-align: center">
                <h1 style="margin: 0; font-size: 24px; color: #2c3e50">{{subject}}</h1>
              </td>
            </tr>
            {{{content}}}
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 30px; text-align: center; background-color: #34495e; color: #ffffff">
          <p style="margin: 0; font-size: 14px">&copy; 2024 Your E-Wallet. All rights reserved.</p>
          <p style="margin: 10px 0 0; font-size: 14px">
            <a href="#" style="color: #ffffff; text-decoration: underline">Privacy Policy</a>
            |
            <a href="#" style="color: #ffffff; text-decoration: underline">Terms of Service</a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
